<h1>Here you have:</h1>

<%= link_to 'List of Railway stations', admin_railway_stations_path %>

<p></p>

<%= link_to 'List of trains', admin_trains_path %>

<p></p>

<%= link_to 'List of routes', admin_routes_path %>

<p></p>

<%= link_to 'List of tickets', admin_train_tickets_path(Train.all) %>