<h1>Here you have:</h1>

<%= link_to 'List of Railway stations', railway_stations_path %>

<p></p>

<%= link_to 'List of trains', trains_path %>

<p></p>

<%= link_to 'List of routes', routes_path %>
