<p id="notice"><%= notice %></p>

<h1>List of Railway Carriages</h1>

<table>
  <thead>
  <tr>
    <th>Type</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @railway_carriages %>
  </tbody>
</table>

<br>

<%= link_to 'New Railway Carriage', new_railway_carriage_path %>
